body {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  user-select: none;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  background-color: white;
  border: 1px solid #eee;
}

.visited {
  background-color: blue;
  border: 1px solid black;
}

.on {
  background-color: #eee;
  border: 1px solid black;
}

.wall {
  background-color: gray;
  border: 1px solid black;
}

.start {
  background-color: hotpink;
  border: 1px solid black;
}

.end {
  background-color: indigo;
  border: 1px solid black;
}

.shortest-path {
  background-color: greenyellow;
  border: 1px solid black;
}
